.game-entry{
    min-width: 265px;
    min-height: 265px;
    margin: 10px;
    position: relative;
    font-weight: bold;
    display: block;
    border-width: 25px;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    text-shadow: none;
    color:transparent;
    /*font-weight: none;*/
}
.game-entry *{
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover{
    z-index: 3;
    /*border-width: 25px;*/
    transition: all 0.5s;
    border-color: rgb(45, 0, 87);
    text-shadow: none;
    color:rgb(192, 192, 192);
    /*box-shadow: 0px 0px 100px mediumpurple;*/
    font-weight: none;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover #dim{
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: rgba(0, 0, 0, 0.575);
}

.game-entry #show-on-hover *{
    text-shadow: none;
    transition: all 0.5s;
    color:transparent;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover #show-on-hover *{
    visibility: visible;
    
    color: inherit;
    text-shadow: inherit;

    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover #bg{
    filter:blur(6px);
    transition: all 0.5s;
}