/*
We're no strangers to love
You know the rules and so do I
A full commitment's what I'm thinking of
You wouldn't get this from any other guy
I just wanna tell you how I'm feeling
Gotta make you understand
Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you
We've known each other for so long
Your heart's been aching but you're too shy to say it
Inside we both know what's been going on
We know the game and we're gonna play it
And if you ask me how I'm feeling
Don't tell me you're too blind to see
Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you
Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you
Never gonna give, never gonna give
(Give you up)
We've known each other for so long
Your heart's been aching but you're too shy to say it
Inside we both know what's been going on
We know the game and we're gonna play it
I just wanna tell you how I'm feeling
Gotta make you understand
Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you
Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you
Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
*/

body,head {
    color: rgb(192, 192, 192);

    word-wrap: break-word;
    text-shadow: 1px 1px 10px red,
    -1px -1px 10px blue;
}
body{
    background: url("/background_fallback.jpeg") repeat;
    background-size: 50%;
}
html,body {
    text-align: center;
    height: 100%;
    margin: 0;
    font-family: "Singlet-Regular";
    scrollbar-color: rgb(46, 0, 38) black;
}


code{
    text-shadow: none;/*0px 0px 6px red*/
}

#background{
    position: fixed;
    z-index: -1;
    width:100%;
    height:100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;



    /*background-color: black;
    animation-name: trippy;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}


@keyframes trippy{
    from{
        filter: hue-rotate(0);
    }

    to{
        filter: hue-rotate(360deg);
    }
}

.scrolling-bg{
    animation-name: anim;
    animation-duration: 10000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#entire-thing-container{
    max-width: 2000px;
    min-width: 900px;
    height: 100%;
    margin-left: auto;
    margin-right:auto;
}



@font-face {
    font-family: "Singlet-Regular";
    src: url('/fonts/Sniglet-Regular.ttf');
}

.generic-flex-container{
    display: flex; flex-wrap: wrap;  justify-content: center;
    align-items: flex-start;
}

.centered-thing{
    margin-left:auto;margin-right:auto;
}

@keyframes anim {
    0% {
        background-position: 0, 0;
    }

    100% {
        background-position: 66000% 77000%;
    }
}

/*#bg-tint {
    background: #000000AA;

    position: fixed;
    min-width: 100%;
    min-height: 100%;

    overflow-y: auto;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
}*/

a{
    color: rgb(161, 247, 255);
}

a:hover {
    color: rgb(247, 0, 255);
    font-weight: bold;
}

#text-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(88, 0, 74);
    min-height: 200px;
    display: grid;
    grid-template-rows: 1fr 20px;
}

.default-glow{
    /* box-shadow: 0 0 20px 20px rgba(219, 255, 255, 0.394), */
    /* 0 0 20px 20px rgba(0, 247, 255, 0.389); */
}

.blog-entry {
    margin: 0;
    max-width: 740px;
    min-width: 100px;
    padding: 10px;
}

.textbox-normal{
    border-color: rgb(110, 0, 110);
    border-width: 25px;
    border-style: outset;
    background: rgb(85, 6, 88);
}

.game-entry{
    
    min-width: 265px;
    min-height: 265px;
    margin: 10px;
    position: relative;
}

.game-entry{
    border-width: 25px;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    text-shadow: none;
    color:transparent;
}
.game-entry *{
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover{
    z-index: 3;
    /*border-width: 25px;*/
    transition: all 0.5s;
    border-color: rgb(45, 0, 87);
    text-shadow: none;
    color:rgb(192, 192, 192);
    box-shadow: 0px 0px 100px mediumpurple;
    font-weight: none;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover #dim{
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: rgba(0, 0, 0, 0.575);
}

.game-entry #show-on-hover *{
    text-shadow: none;
    transition: all 0.5s;
    color:transparent;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover #show-on-hover *{
    visibility: visible;
    
    color: inherit;
    text-shadow: inherit;

    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.game-entry:hover #bg{
    filter:blur(6px);
    transition: all 0.5s;
}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    bottom: 0;
}

#pancake-stack {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}



.footer-part{
    position: relative; min-height: 60px; display: block;min-width: 33.3%;
}
.footer-part-content{
    position:absolute;bottom: 0;
}
/*eeeeeeeeee*/
.highlight{
    text-align: left;display: inline-block;
}
.highlight pre{
    padding: 15px;
}

li::marker {
    content:"\2B50";
}

.spicyGlowingTitle{
    text-shadow: 0px 0px 1.5em magenta,
    0px 0px 0.5em cyan;
}

/* @media screen and (max-width : 1204px)
{
  *
  {
    font-size:1.1em;
  }


  .game-entry:hover #show-on-hover *{
      visibility: hidden;
    }
    
    .game-entry:hover #bg{
        filter:none;
    }

    
.game-entry:hover #show-on-hover *{
    visibility: hidden;
    
    color: inherit;
    text-shadow: inherit;

    transition: all 0s;
}
    
  .blog-entry {
        margin: 0;
        max-width: 840px;
        min-width: 0px;
        padding: 10px;
    }
} */